@import "../common/units";
@import "../common/colour";
@import "../common/border";

// TODO: Rename to toolbar??

.dash-header {
  display: flex;
  justify-content: flex-start;
  background: $dash-colour-white;
  border: 1px solid $dash-colour-outline;
  padding: units(0.5);
  border-radius: $dash-border-radius;
}

.dash-header--nested {
  background-color: initial;
  padding: initial;
  border: initial;
  border-radius: initial;
}

.dash-header-item {
  margin-right: units(0.5);
  &:last-child {
    margin-right: 0;
  }
}
