@import "../common/text/caption";
@import "../common/text/text";

.dash-label {
  @extend %dash-text-caption-small;
  display: inline-block;
  user-select: none;
  height: units(3);
  line-height: units(3);
  padding: units(0) units(1);
}
