@import "../common/text";
@import "../common/text";

.dash-label {
  @extend .dash-text-caption-small;
  display: inline-block;
  user-select: none;
  height: units(3);
  line-height: units(3);
  padding: units(0) units(1);
}

.dash-label--large {
  @extend .dash-text-body;

}
