@import "../layout/width";
@import "../colour";
@import "../units";
@import "fonts";

.dash-text-body {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: units(1.8);
  text-transform: unset;
  letter-spacing: unset;
  color: $dash-colour-dark;
}
