@import "../layout/width";
@import "../colour";
@import "../units";

.dash-text-caption {
  font-family: proxima-nova, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  font-size: units(1.2);
  text-transform: uppercase;
  letter-spacing: 0.25em;
  color: $dash-colour-dark;

  @include dash-width(medium) {
    font-size: units(1.4);
  }
}

.dash-text-caption-small {
  @extend .dash-text-caption;
  font-size: units(1.1);
  letter-spacing: units(0.1);

  @include dash-width(medium) {
    font-size: units(1);
  }
}
