{% extends "layout.html" %}
{% set title = "Boxes" %}

{% block main %}

<dash-wrapper>
  <h1 class="dash-text-heading">Headline Box</h1>

  <!-- <pre>&lt;dash-box-simple&gt;Simple box contents.&lt;/dash-box-simple&gt;</pre> -->
  <div class="dash-headline-box">
    <div class="dash-headline-box-content">
      Dash Headline Box
    </div>
  </div>
  <div class="dash-headline-box dash-colour-yellow">
    <div class="dash-headline-box-content">
      Seamless content &amp; distribution management
    </div>
  </div>
  <div class="dash-headline-box dash-colour-red">
    <div class="dash-headline-box-content">
      Dash Headline Box
    </div>
  </div>
  <div class="dash-headline-box dash-colour-turquoise">
    <div class="dash-headline-box-content">
      Dash Headline Box
    </div>
  </div>
</dash-wrapper>

{% endblock %}
