@import "../common/colour";
@import "../common/text";
@import "../common/units";

.dash-checklist-item {
  @extend .dash-text-body !optional;
  display: inline-block;
  display: inline-flex;
  border: 1px solid $dash-colour-outline;
  background-color: $dash-colour-white;
}

.dash-checklist-item-icon {
  display: inline-block;
  vertical-align: top;
  padding: units(1);
  opacity: 0.2;
}

.dash-checklist-item-title {
  display: inline-block;
  vertical-align: top;
  background: $dash-colour-light;
  border-left: 1px solid $dash-colour-outline;
  color: $dash-colour-text;
  font-weight: 600;
  height: units(4.6);
  line-height: units(4.6);
  padding: 0 units(2);
  font-size: units(1.3);
}
