<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="dash-auth">
  <template>
    <h2>dash-auth</h2>
    <p>Current auth state: {{state.active}}</p>
  </template>
</dom-module>

<script>

var endpoints = {
  login: "https://api-dev.dashaudio.co/v2/users/login",
  logout: ""
};

Polymer({
  is: 'dash-auth',

  properties: {
    state: {
      type: Object,
      notify: true
    }
  },

  ready: function() {
    this.set('state', {
      active: false,
      client: null,
      identifier: null,
      session: null
    });
  },

  login: function(email, password) {
    console.log("logging in...", email, password);
    this.set('state.active', true);

    fetch(endpoints.login + "?username=" + email + "&password=" + password, {
      method: 'post'
    }).then(function(response) {
      console.log("success");
      console.log(response);
    });
  },

  logout: function() {
    console.log("logging out...");
    this.set('state.active', false);
  }
});

</script>
