<link rel="import" href="../bower/polymer/polymer.html">
<script src="../bower/fetch/fetch.js"></script>

<dom-module id="dash-service-status">
  <template id="main">
    <style>
      :host {
        display: block;
        background-color: red;
        color: white;
        padding: 1rem;
        font-family: sans-serif;
        border-radius: 8px;
        margin-bottom: 5px;
      }

      :host[available] {
        background-color: transparent;
        color: black;
        border: 2px solid #FAFAFA;
      }

      #endpoint {
        font-size: 1rem;
      }

      #message {
        font-size: 0.75rem;
        margin-top: 0.25rem;
      }
    </style>

    <div id="endpoint">{{ endpoint }}</div>
    <div id="message" hidden="{{ available }}">{{ message }}</div>
  </template>

  <script>
    Polymer({
      is: 'dash-service-status',

      properties: {
        endpoint: { type: String },
        interval: { type: Number, value: 5 },
        available: { type: String, notify: true, reflectToAttribute: true, value: true },
        message: { type: String },
        timer: { type: Number }
      },

      attached: function() {
        this.timer = window.setInterval(this.update.bind(this), this.interval * 1000);
        this.update();
      },

      detached: function() {
        window.clearInterval(this.timer);
      },

      update: function() {
        if (!this.endpoint) return;

        fetch(this.endpoint, { method: 'get' }).then(function(response) {
          this.available = true;
          this.message = null;
        }.bind(this)).catch(function(error) {
          this.available = false;
          this.message = error;
        }.bind(this));
      }
    });
  </script>
</dom-module>
