<script src="../bower/fetch/fetch.js"></script>
<script src="../bower/geohash.js/geohash.js"></script>

<link rel="import" href="../bower/polymer/polymer.html">
<link rel="import" href="../bower/google-chart/google-chart.html">

<dom-module id="dash-chart-map">
  <template>
    <style>
      .container {
        width: 100%; height: 100%;
        overflow: hidden;
      }
      google-chart {
        width: 100%; height: 100%;
        transform: scale(1.05);
      }
      ::content circle, ::content path {
        stroke: none !important;
      }
    </style>
    <div class="container">
      <google-chart id="chart" options="{{options}}" type="{{type}}" cols="{{cols}}" rows="{{rows}}"></google-chart>
    </div>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'dash-chart-map',

    properties: {
      options: Object,
      type: String,
      cols: Array,
      rows: Array,
      data: {
        type: Array,
        observer: "dataChanged"
      }
    },

    listeners: {
      "chart.google-chart-select": "select"
    },

    select: function(event) {
      // ...
    },

    ready: function() {

      this.options = {
        width: "100%",
        height: "100%",
        displayMode: 'markers',
        backgroundColor: "#FFFFFF",
        colorAxis: { colors: ["#00BFFF", "#00BFFF"] },
        enableRegionInteractivity: false,
        keepAspectRatio: false,
        legend: false,
        magnifyingGlass: { enable: false },
        sizeAxis: { minSize: 1.35,  maxSize: 10, minValue: 0, maxValue: 500 },
        markerOpacity: 1,
        datalessRegionColor: "#E6E6E6",
        animation: { startup: true, duration: 2000 }
      };

      this.type = "geo";

      this.cols = [
        {"label":"Latitude", "type":"number"},
        {"label":"Longitude", "type":"number"},
        {"label":"Value", "type":"number"}
      ];

    },

    dataChanged: function(data) {
      if (data) this.refresh(data);
    },

    refresh: function(data) {
      this.set("rows", data.buckets.map(function(datum) {
        var coordinates = Geohash.decode(datum.key);
        return [coordinates[0], coordinates[1], datum.doc_count];
      }));
    }

  });

</script>
