<script src="../bower/fetch/fetch.js"></script>

<link rel="import" href="../bower/polymer/polymer.html">
<link rel="import" href="../bower/google-chart/google-chart.html">

<dom-module id="dash-chart-column">
  <template>
    <style>
      .container {
        width: 100%; height: 100%;
        overflow: hidden;
      }
      google-chart {
        width: 100%; height: 100%;
      }
    </style>
    <div class="container">
      <google-chart options="{{options}}" type="{{type}}" cols="{{cols}}" rows="{{rows}}"></google-chart>
    </div>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'dash-chart-column',

    properties: {
      options: Object,
      type: String,
      cols: Array,
      rows: Array,
      data: {
        type: Array,
        observer: "dataChanged"
      }
    },

    ready: function() {

      this.options = {
        width: "100%",
        height: "100%",
        colors: ["#00BFFF", "#FA1C68", "#FB7D34", "#00ACF3"],
        // bar: { groupWidth: "80%" },
        // chartArea:{
        //   left: 50,
        //   right: 0,
        //   bottom: 10,
        //   top: 10,
        //   width: "100%",
        //   height: "100%"
        // },
        fontSize: 12,
        hAxis: { gridlines: { color: "#eee" } },
        vAxis: { gridlines: { color: "#eee" } },
        legend: { position: "none" }
      };

      this.type = "column";
      this.cols = [{"label":"Date", "type":"date"}, {"label":"Value", "type":"number"}];

    },

    dataChanged: function(data) {
      if (data) this.refresh(data);
    },

    refresh: function(data) {
      this.set("rows", data.buckets.map(function(datum) {
        return [(new Date(datum.key)), datum.doc_count];
      }));
    }

  });

</script>
