<link rel="import" href="../bower/polymer/polymer.html">
<link rel="import" href="../bower/google-chart/google-chart.html">

<script src="../bower/moment/min/moment.min.js"></script>

<dom-module id="dash-chart-cohort">
  <template>
    <style>
      .container {
        width: 100%; height: 100%;
        overflow: hidden;
      }
      google-chart {
        width: 100%; height: 100%;
      }
    </style>
    <div class="container">
      <google-chart options="{{googleChartOptions}}" type="line" data="{{googleChartData}}"></google-chart>
    </div>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'dash-chart-cohort',

    properties: {
      data: { type: Array, observer: "dataChanged" },
      googleChartOptions: Object,
      googleChartData: Array
    },

    ready: function() {
      // ...
    },

    dataChanged: function(data) {
      if (data) this.refresh(data);
    },

    refresh: function(data) {
      this.set("googleChartOptions", this.googleChartOptionsForData(data));
      this.set("googleChartData", this.googleChartDataForData(data));
    },

    googleChartDataForData: function(data) {

      // TODO: Write this properly :)

      var months = data.monthsList.map(function(date) { return moment(date, "YYYY-MM-DD").format("MMM"); });
      var size = months.length + 1;

      var array = new Array(size).fill(0);
      array.forEach(function(item, index) {
        array[index] = new Array(size).fill(null);
      });

      array[0] = (["Month"]).concat(months.map(function(month, index) { return (index + 1).toString(); }));

      months.forEach(function(month, index) { array[index + 1][0] = month; });
      data.buckets.forEach(function(bucket) { array[bucket.month][bucket.cohort] = bucket.value; });

      return array;

    },

    googleChartOptionsForData: function(data) {

      return {
        width: "100%",
        height: "100%",
        pointSize: 10,
        colors: ["#00BFFF", "#FA1C68", "#FB7D34", "#00ACF3"],
        fontSize: 10,
        hAxis: { gridlines: { color: "transparent" } },
        vAxis: { gridlines: { color: "#eee" } }
      };

    }

  });

</script>
