<script src="../bower/fetch/fetch.js"></script>
<script src="https://s3-eu-west-1.amazonaws.com/dash-widgets-samples/js/charts-0.1.0.js"></script>

<link rel="import" href="../bower/polymer/polymer.html">
<link rel="import" href="../bower/google-chart/google-chart.html">

<dom-module id="dash-chart-calendar">
  <template>
    <style>
      chart-cohort {
        width: 100%; height: 100%;
      }
    </style>
    <div class="container">
      <chart-cohort id="chart"></chart-cohort>
    </div>
  </template>
</dom-module>

<script>

  Polymer({

    is: 'dash-chart-calendar',

    properties: {
      data: {
        type: Array,
        observer: "dataChanged"
      }
    },

    ready: function() {

    },

    dataChanged: function(data) {
      if (data) this.refresh(data);
    },

    refresh: function(data) {
      this.$.chart.refresh(data);
    }

  });

</script>
