<link rel="import" href="../bower/polymer/polymer.html">
<link rel="import" href="../bower/google-chart/google-chart.html">

<script src="../bower/geohash.js/geohash.js"></script>

<!-- This code is fairly junky. Intended to get us started and be rewritten. -->

<dom-module id="dash-chart-map">
  <template>
    <style>
      .container {
        width: 100%; height: 100%;
        overflow: hidden;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
      }
      google-chart {
        width: 100%; height: 100%;
        transform: scale(1.05);
        transition: opacity 0.5s;
        opacity: 0;
      }
      #empty {
        font-family: sans-serif;
        font-size: 11px;
        text-align: center;
      }
      ::content circle, ::content path {
        stroke: none !important;
      }
    </style>

    <div class="container">
      <div id="empty" hidden$="{{!empty}}">No Data</div>
      <google-chart id="chart" hidden$="{{empty}}" options="{{googleChartOptions}}" type="geo" data="{{googleChartData}}"></google-chart>
    </div>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'dash-chart-map',

    properties: {
      data: { type: Array, observer: "dataChanged" },
      empty: Boolean,
      googleChartOptions: Object,
      googleChartData: Array,
      resizeTimerHandle: Number
    },

    listeners: {
      "chart.google-chart-select": "select",
      "chart.google-chart-render": "render",
    },

    select: function(event) {
      // ...
    },

    ready: function() {
      window.addEventListener("resize", this.windowWasResized.bind(this));
    },

    render: function(event) {
      this.$.chart.style.opacity = 1;
    },

    dataChanged: function(data) {
      this.set("empty", (!data || !data.buckets || !data.buckets.length));
      if (data) this.refresh(data);
    },

    refresh: function(data) {
      this.set("googleChartOptions", this.googleChartOptionsForData(data));
      this.set("googleChartData", this.googleChartDataForData(data));
    },

    windowWasResized: function() {
      this.$.chart.style.opacity = 0.05;
      window.clearTimeout(this.resizeTimerHandle);
      this.resizeTimerHandle = window.setTimeout(this.resizeChart.bind(this), 300);
    },

    resizeChart: function() {
      this.$.chart.drawChart();
    },

    googleChartDataForData: function(data) {
      if (!data) return null;
      if (!data.buckets || !data.buckets.length) return null;

      var cols = [
        {"label":"Latitude", "type":"number"},
        {"label":"Longitude", "type":"number"},
        {"label":"Value", "type":"number"}
      ];

      var rows = data.buckets.map(function(datum) {
        var coordinates = Geohash.decode(datum.key);
        return [coordinates[0], coordinates[1], datum.doc_count];
      });

      return ([cols]).concat(rows);
    },

    googleChartOptionsForData: function(data) {
      if (!data) return null;
      if (!data.buckets || !data.buckets.length) return null;

      return {
        width: "100%",
        height: "100%",
        displayMode: 'markers',
        backgroundColor: "#FFFFFF",
        colorAxis: { colors: ["#00BFFF", "#00BFFF"] },
        enableRegionInteractivity: false,
        keepAspectRatio: false,
        legend: false,
        magnifyingGlass: { enable: false },
        sizeAxis: { minSize: 1.35,  maxSize: 10, minValue: 0, maxValue: 500 },
        markerOpacity: 1,
        datalessRegionColor: "#E6E6E6",
        animation: { startup: true, duration: 2000 }
      };
    }
  });
</script>
