// Default Colours

$dash-colour-black: #222222 !default;
$dash-colour-dark: #2c3958 !default;
$dash-colour-medium: #e3e7ec !default;
$dash-colour-light: #f1f3f4 !default;
$dash-colour-white: #ffffff !default;

$dash-colour-text: desaturate($dash-colour-dark, 100%) !default;
$dash-colour-outline: darken($dash-colour-medium, 12%);

.dash-colour-black, .dash-text-base.dash-colour-black { color: $dash-colour-black; }
.dash-colour-dark, .dash-text-base.dash-colour-dark { color: $dash-colour-dark; }
.dash-colour-medium, .dash-text-base.dash-colour-medium { color: $dash-colour-medium; }
.dash-colour-light, .dash-text-base.dash-colour-light { color: $dash-colour-light; }
.dash-colour-white, .dash-text-base.dash-colour-white { color: $dash-colour-white; }
.dash-colour-text, .dash-text-base.dash-colour-text { color: $dash-colour-text; }
.dash-colour-outline, .dash-text-base.dash-colour-outline { color: $dash-colour-outline; }

.dash-background-colour-black { background: $dash-colour-black; }
.dash-background-colour-dark { background: $dash-colour-dark; }
.dash-background-colour-medium { background: $dash-colour-medium; }
.dash-background-colour-light { background: $dash-colour-light; }
.dash-background-colour-white { background: $dash-colour-white; }
.dash-background-colour-text { background: $dash-colour-text; }
.dash-background-colour-outline { background: $dash-colour-outline; }

// Named Colours

$dash-colour-blue: #00BEF6;
$dash-colour-navy: #645DE8;
$dash-colour-purple: #BE5FE9;
$dash-colour-orange: #FFA500;
$dash-colour-sorbet: #FF72BE;
$dash-colour-yellow: #FADE09;
$dash-colour-green: #ACEC4B;
$dash-colour-turquoise: #3CC8D1;
$dash-colour-red: #FF4444;

//

$dash-colour-primary: $dash-colour-blue !default;
$dash-colour-secondary: $dash-colour-navy !default;
$dash-colour-tertiary: $dash-colour-purple !default;
$dash-colour-quaternary: $dash-colour-turquoise !default;

$dash-colour-warning: #A71C4D !default;
$dash-colour-success: #70CE5D !default;

$dash-colour-list: (
  $dash-colour-primary,
  $dash-colour-secondary,
  $dash-colour-tertiary,
  $dash-colour-quaternary
);

$dash-colour-white: #FFFFFF;
$dash-colour-black: #000000;

// Chart Colours

$dash-colour-chart-list: (
  $dash-colour-blue,
  $dash-colour-navy,
  $dash-colour-purple,
  $dash-colour-orange,
  $dash-colour-sorbet,
  $dash-colour-yellow,
  $dash-colour-green,
  $dash-colour-turquoise
);

// Special Colours

$dash-colour-valid: green;
$dash-colour-invalid: red;

// Derived Gradients

$dash-gradient-dark: (#303047, #303047) !default;
$dash-gradient-medium: (#fafafa, #f9f9f9) !default;
$dash-gradient-light: (#FA1C68, #FB3363, #FD575F) !default;

$dash-gradient-primary: (#23B3EF, #19B7E8, #24C9D1) !default;
$dash-gradient-secondary: (#FC2B6F, #FF4F74, #FA6767) !default;
$dash-gradient-tertiary: (#F95534, #FF7644, #FA8701) !default;
$dash-gradient-quaternary: (#878CF2, #42A4EF, #03B7F2) !default;

// All colours

$dash-colours: (
  dash-colour-blue: $dash-colour-blue,
  dash-colour-navy: $dash-colour-navy,
  dash-colour-purple: $dash-colour-purple,
  dash-colour-orange: $dash-colour-orange,
  dash-colour-sorbet: $dash-colour-sorbet,
  dash-colour-yellow: #FFBB17,
  dash-colour-green: $dash-colour-green,
  dash-colour-turquoise: $dash-colour-turquoise,
  dash-colour-red: #FF6634
);
