// Named Colours

$dash-colour-blue: #00BEF6;
$dash-colour-navy: #645DE8;
$dash-colour-purple: #BE5FE9;
$dash-colour-orange: #FFA500;
$dash-colour-sorbet: #FF72BE;
$dash-colour-yellow: #FADE09;
$dash-colour-green: #ACEC4B;
$dash-colour-turquoise: #3CC8D1;


// Default Colours

$dash-colour-dark: #3B3C45 !default;
$dash-colour-medium: #838383 !default;
$dash-colour-light: #FAFAFA !default;

$dash-colour-primary: #00BFFF !default;
$dash-colour-secondary: #FA1C68 !default;
$dash-colour-tertiary: #FB7D34 !default;
$dash-colour-quaternary: #00ACF3 !default;

$dash-colour-list: (
  $dash-colour-primary,
  $dash-colour-secondary,
  $dash-colour-tertiary,
  $dash-colour-quaternary
);

$dash-colour-white: #FFFFFF;
$dash-colour-black: #000000;

// Chart Colours

$dash-colour-chart-list: (
  $dash-colour-blue,
  $dash-colour-navy,
  $dash-colour-purple,
  $dash-colour-orange,
  $dash-colour-sorbet,
  $dash-colour-yellow,
  $dash-colour-green,
  $dash-colour-turquoise
);

// Derived Colours

$dash-colour-outline: darken($dash-colour-light, 8%);

// Special Colours

$dash-colour-valid: green;
$dash-colour-invalid: red;

// Derived Gradients

$dash-gradient-dark: (#303047, #303047) !default;
$dash-gradient-medium: (#fafafa, #f9f9f9) !default;
$dash-gradient-light: (#FA1C68, #FB3363, #FD575F) !default;

$dash-gradient-primary: (#23B3EF, #19B7E8, #24C9D1) !default;
$dash-gradient-secondary: (#FC2B6F, #FF4F74, #FA6767) !default;
$dash-gradient-tertiary: (#F95534, #FF7644, #FA8701) !default;
$dash-gradient-quaternary: (#878CF2, #42A4EF, #03B7F2) !default;
