// TODO: Auto sprite generation please!

%dash-icon-default {
  background-image: url("images/icons/default-icon.svg");
}

%dash-icon-default-light {
  background-image: url("images/icons/default-icon-light.svg");
}

%dash-icon-default-full {
  background-image: url("images/icons/default-icon-full.svg");
}

%dash-icon-logo {
  background-image: url("images/icons/logo-mono.svg");
}

%dash-icon-logo-text {
  background-image: url("images/icons/logo-text-mono.svg");
}

%dash-icon-menu {
  background-image: url("images/icons/menu-icon.svg");
}

%dash-icon-menu-light {
  background-image: url("images/icons/menu-icon-light.svg");
}

%dash-icon-rss {
  background-image: url("images/icons/rss-icon.svg");
}

%dash-icon-soundcloud {
  background-image: url("images/icons/soundcloud-icon.svg");
}

%dash-icon-globe {
  background-image: url("images/icons/globe-icon.svg");
}

%dash-icon-phone {
  background-image: url("images/icons/phone-icon.svg");
}

%dash-icon-itunes {
  background-image: url("images/icons/itunes-icon.svg");
}

%dash-icon-loading {
  background-image: url("images/icons/loading-icon.svg");
}

%dash-icon-loading-light {
  background-image: url("images/icons/loading-icon-light.svg");
}

%dash-icon-error {
  background-image: url("images/icons/error-icon.svg");
}

%dash-icon-error-light {
  background-image: url("images/icons/error-icon-light.svg");
}

%dash-icon-error-colour {
  background-image: url("images/icons/error-icon-colour.svg");
}

%dash-icon-previous {
  background-image: url("images/icons/previous-icon.svg");
}

%dash-icon-next {
  background-image: url("images/icons/next-icon.svg");
}

%dash-icon-help {
  background-image: url("images/icons/help-icon.svg");
}

%dash-icon-media {
  background-image: url("images/icons/media-icon.svg");
}

%dash-icon-image {
  background-image: url("images/icons/image-icon.svg");
}
