<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="auth.html">

<dom-module id="dash-media-list">
  <template>
    <h2>dash-media-list component</h2>
    <dash-auth state="{{authState}}"></dash-auth>
  </template>
</dom-module>

<script>
Polymer({
  is: 'dash-media-list',
  properties: {
    filled: {
      type: Boolean,
      value: false
    },
    title: {
      type: String,
      value: ""
    },
    auth: Object,
  },

  ready: function() {
    console.log(this.auth);

  }
});
</script>
