<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dash Status</title>
  <script src="bower/webcomponentsjs/webcomponents.min.js"></script>
  <link rel="import" href="dash/dash-service-status.html">
</head>
<body>
  <dash-service-status endpoint="http://dashaudio.co"></dash-service-status>
  <dash-service-status endpoint="https://dashboard.dashaudio.co"></dash-service-status>
  <dash-service-status endpoint="https://api.dashaudio.co"></dash-service-status>
  <dash-service-status endpoint="https://analytics.dashaudio.co/ping"></dash-service-status>
</body>
</html>
