@import "../common/units";
@import "../common/colour";
@import "../common/text";
@import "../common/padding";
@import "../common/size";

.dash-navigation {
  @extend .dash-colour-background-azure;
  @extend .dash-text-weight-epsilon;
  display: flex;
  flex-wrap: wrap;
}

.dash-navigation-item {
  @extend .dash-text-caps;
  @extend .dash-text-size-beta;
  @extend .dash-text-leading-label;

  display: inline-flex;
  padding: $dash-size-gamma;
  flex-grow: 0;
  color: $dash-colour-white;

  a {
    @extend .dash-text-leading-label;
    color: $dash-colour-white;

    &:hover {
      color: $dash-colour-black;
    }
  }
}

.dash-navigation-spacer {
  @extend .dash-navigation-item;
  display: inline-flex;
  flex-grow: 1;
}
