{% extends "layout.html" %}
{% set title = "Toolbar" %}

{% block main %}

<dash-wrapper>
  <h1 class="dash-text-heading">Toolbar</h1>

  <pre>
    &lt;dash-toolbar&gt;&lt;/dash-toolbar&gt;</pre>
  <dash-toolbar></dash-toolbar>

  <pre>
    &lt;dash-toolbar&gt;
      &lt;dash-icon logo-text&gt;&lt;/dash-icon&gt;
      &lt;dash-spacer&gt;&lt;/dash-spacer&gt;
      &lt;dash-label&gt;Toolbar Label&lt;/dash-label&gt;
      &lt;dash-button&gt;Button&lt;/dash-button&gt;
      &lt;dash-icon feed&gt;&lt;/dash-icon&gt;
    &lt;/dash-toolbar&gt;</pre>

  <dash-toolbar>
    <dash-icon logo-text></dash-icon>
    <dash-spacer></dash-spacer>
    <dash-label>Toolbar Label</dash-label>
    <dash-button>Button</dash-button>
    <dash-icon feed></dash-icon>
  </dash-toolbar>
</dash-wrapper>

{% endblock %}
