@import "../../common/colour";
@import "../../common/border";
@import "../../common/units";

.dash-box-simple {
  display: block;
  padding: units(5) units(6);
  border: 1px solid $dash-colour-medium-dark;
  background: $dash-colour-light;
}
