@import "../common/units";
@import "../common/colour";
@import "../common/border";

.dash-toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $dash-colour-medium-light;
  border-bottom: units(0.4) solid $dash-colour-medium-dark;
  padding: units(0.5);
  min-height: units(2);
  // border-radius: $dash-border-radius;
}

.dash-toolbar--nested {
  background-color: initial;
  padding: initial;
  border: initial;
  border-radius: initial;
}

.dash-toolbar--large {
  padding: units(2);
}

.dash-toolbar-item {
  margin-right: units(0.5);

  &:last-child {
    margin-right: 0;
  }
}
