{% extends "layout.html" %}
{% set title = "Text Styles" %}

{% block main %}

<dash-wrapper>
  <h1 class="dash-text-heading">Checklist Item</h1>

  <pre>&lt;dash-checklist-item title=&quot;Here&apos;s a checklist item&quot;&gt;&lt;/dash-checklist-item&gt;</pre>
  <dash-checklist-item title="Here's a checklist item"></dash-checklist-item>

  <br /><br />
  <dash-checklist-item title="Here's a checklist item"></dash-checklist-item>
  <dash-checklist-item title="Here's an adjacent checklist item"></dash-checklist-item>

  <br /><br />
  <dash-checklist-item title="Here's a checklist item"></dash-checklist-item><br/>
  <dash-checklist-item title="Here's an adjacent checklist item on a new line"></dash-checklist-item>
</dash-wrapper>

{% endblock %}
