@import "../../common/units";
@import "../../common/text/body";

.dash-analytics-summary {
  display: block;
}

.dash-analytics-summary-title {
  // !
}

.dash-analytics-summary-value {
  @extend .dash-text-body;
  font-size: 40px;
}

.dash-analytics-summary-sparkline {
  height: units(5);
}


.dash-analytics-summary--selected {
  // !
}
