@import "../common/colour";
@import "../common/units";
@import "../common/text";

$duration: 0.25s;

@keyframes dash-notification-slide-down {
  from { height: 0; padding: 0 units(1.2); }
  to { height: units(2.6); padding: units(1.2); }
}

@keyframes dash-notification-slide-up {
  from, { height: units(2.6); padding: units(1.2); }
  to { height: 0; padding: 0 units(1.2); }
}

.dash-notification {
  @extend .dash-text-body !optional;
  animation: dash-notification-slide-down $duration ease-out;
  animation-fill-mode: both;
  font-weight: 500;
  display: block;
  font-size: units(1.4);
  background-color: $dash-colour-dark;
  color: $dash-colour-light;
  line-height: units(2.6);
  overflow: hidden;
}

.dash-notification-icon-close {
  float: right;
  cursor: pointer;
  transition: transform 0.15s;

  &:active {
    transform: scale(0.5);
  }
}

.dash-notification--pinned {
  position: fixed;
  top: 0; right: 0; left: 0;
}

.dash-notification--dismissed, .dash-notification--initial {
  animation: dash-notification-slide-up $duration ease-out;
  animation-fill-mode: both;

  .dash-notification-icon-close {
    transform: scale(0);
  }
}

.dash-notification--success {
  background-color: $dash-colour-success;
  color: $dash-colour-white;
}

.dash-notification--error {
  background-color: $dash-colour-warning;
  color: $dash-colour-light;
}
