@import "../common/colour";
@import "../common/units";
@import "../common/text";

.dash-notification {
  @extend .dash-text-body;
  font-weight: 500;
  display: block;
  font-size: units(1.4);
  background-color: $dash-colour-dark;
  color: $dash-colour-light;
  padding: units(1);
  height: units(3);
  line-height: units(3);
  transition: height 0.2s, padding-top 0.2s, padding-bottom 0.2s;
  overflow: hidden;
}

.dash-notification-icon-close {
  float: right;
  cursor: pointer;
  transition: transform 0.15s;

  &:active {
    transform: scale(0.5);
  }
}

.dash-notification--pinned {
  position: fixed;
  top: 0; right: 0; left: 0;
}

.dash-notification--dismissed {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;

  .dash-notification-icon-close {
    transform: scale(0);
  }
}

.dash-notification--success {
  background-color: $dash-colour-success;
  color: $dash-colour-white;
}

.dash-notification--error {
  background-color: $dash-colour-warning;
  color: $dash-colour-light;
}
