{% extends "layout.html" %}
{% set title = "Home" %}

{% block main %}

<dash-wrapper>
  <h1>Index</h1>
  <ul>
    <li><a href="guide/text/">Text Styles</a></li>
    <li><a href="guide/notification/">Notification</a></li>
    <li><a href="guide/checklist-item/">Checklist Item</a></li>
    <li><a href="guide/box/">Boxes</a></li>
    <li><a href="guide/toolbar/">Toolbar</a></li>
    <li><a href="guide/icon/">Icons</a></li>
    <li><a href="guide/colour/">Colours</a></li>
    <li><a href="guide/login/">Login</a></li>
  </ul>
</dash-wrapper>

{% endblock %}
