{% extends "layout.html" %}
{% set title = "Index" %}

{% block main %}
<dash-notification success title="Great! You have successfully connected your SoundCloud with your Google Analytics Account"></dash-notification>
<dash-notification error title="Great! You have successfully connected your SoundCloud with your Google Analytics Account"></dash-notification>
<dash-notification title="Great! You have successfully connected your SoundCloud with your Google Analytics Account"></dash-notification>
{% endblock %}
