{% extends "layout.html" %}
{% set title = "Icons" %}

{% block main %}

<dash-wrapper>
  <h1 class="dash-text-heading">Icons</h1>
  <p>Icons are square or wider (ie. they are sized to have a consistent height), and are sized at
    50% height of their enclosing box.</p>

  <dash-icon logo style="border: 1px solid silver"></dash-icon>
  <br /><br />

  <p>Default size (26px)</p>
  <pre>
    &lt;dash-icon logo&gt;&lt;/dash-icon&gt;
    &lt;dash-icon logo-text&gt;&lt;/dash-icon&gt;
    &lt;dash-icon loading&gt;&lt;/dash-icon&gt;
    &lt;dash-icon error&gt;&lt;/dash-icon&gt;
    &lt;dash-icon feed&gt;&lt;/dash-icon&gt;
    &lt;dash-icon help&gt;&lt;/dash-icon&gt;
    &lt;dash-icon tick&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-up&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-right&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-down&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-left&gt;&lt;/dash-icon&gt;
    &lt;dash-icon bar-horizontal&gt;&lt;/dash-icon&gt;
    &lt;dash-icon bar-vertical&gt;&lt;/dash-icon&gt;
    &lt;dash-icon close-dark&gt;&lt;/dash-icon&gt;
    &lt;dash-icon close-light&gt;&lt;/dash-icon&gt;</pre>

  <dash-icon logo></dash-icon>
  <dash-icon logo-text></dash-icon>
  <dash-icon loading></dash-icon>
  <dash-icon error></dash-icon>
  <dash-icon feed></dash-icon>
  <dash-icon help></dash-icon>
  <dash-icon tick></dash-icon>
  <dash-icon arrow-up></dash-icon>
  <dash-icon arrow-right></dash-icon>
  <dash-icon arrow-down></dash-icon>
  <dash-icon arrow-left></dash-icon>
  <dash-icon bar-horizontal></dash-icon>
  <dash-icon bar-vertical></dash-icon>
  <dash-icon close-dark></dash-icon>
  <dash-icon close-light></dash-icon>

  <br /><br />

  <p>Large size (50px)</p>
  <pre>
    &lt;dash-icon logo large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon logo-text large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon loading large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon error large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon feed large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon help large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon tick large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-up large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-right large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-down large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon arrow-left large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon bar-horizontal large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon bar-vertical large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon close-dark large&gt;&lt;/dash-icon&gt;
    &lt;dash-icon close-light large&gt;&lt;/dash-icon&gt;</pre>

  <dash-icon logo large></dash-icon>
  <dash-icon logo-text large></dash-icon>
  <dash-icon loading large></dash-icon>
  <dash-icon error large></dash-icon>
  <dash-icon feed large></dash-icon>
  <dash-icon help large></dash-icon>
  <dash-icon tick large></dash-icon>
  <dash-icon arrow-up large></dash-icon>
  <dash-icon arrow-right large></dash-icon>
  <dash-icon arrow-down large></dash-icon>
  <dash-icon arrow-left large></dash-icon>
  <dash-icon bar-horizontal large></dash-icon>
  <dash-icon bar-vertical large></dash-icon>
  <dash-icon close-dark large></dash-icon>
  <dash-icon close-light large></dash-icon>
</dash-wrapper>

{% endblock %}
