{% extends "layout.html" %}
{% set title = "Text Styles" %}

{% block main %}

<dash-wrapper>
  <h1>Sizes</h1>

  <pre>
    &lt;div class=&quot;dash-text-base dash-text-size-alpha&quot;&gt;Alpha&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-size-beta&quot;&gt;Beta&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-size-gamma&quot;&gt;Gamma&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-size-delta&quot;&gt;Delta&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-size-epsilon&quot;&gt;Epsilon&lt;/div&gt;</pre>

  <div class="dash-text-base dash-text-size-alpha">Alpha</div>
  <div class="dash-text-base dash-text-size-beta">Beta</div>
  <div class="dash-text-base dash-text-size-gamma">Gamma</div>
  <div class="dash-text-base dash-text-size-delta">Delta</div>
  <div class="dash-text-base dash-text-size-epsilon">Epsilon</div>

  <h1>Weights</h1>

  <pre>
    &lt;div class=&quot;dash-text-base dash-text-weight-alpha&quot;&gt;Alpha&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-weight-gamma&quot;&gt;Gamma&lt;/div&gt;
    &lt;div class=&quot;dash-text-base dash-text-weight-theta&quot;&gt;Theta&lt;/div&gt;</pre>

  <div class="dash-text-base dash-text-weight-alpha">Alpha</div>
  <div class="dash-text-base dash-text-weight-gamma">Gamma</div>
  <div class="dash-text-base dash-text-weight-theta">Theta</div>

  <h1>Headings</h1>

  <pre>
    &lt;div class=&quot;dash-text-heading-alpha &quot;&gt;Alpha Heading&lt;/div&gt;
    &lt;div class=&quot;dash-text-heading-beta&quot;&gt;Beta Heading&lt;/div&gt;
    &lt;div class=&quot;dash-text-heading-gamma&quot;&gt;Gamma Heading&lt;/div&gt;
    &lt;div class=&quot;dash-text-heading-delta&quot;&gt;Delta Heading&lt;/div&gt;</pre>


  <div class="dash-text-heading-alpha ">Alpha</div>
  <div class="dash-text-heading-beta">Beta</div>
  <div class="dash-text-heading-gamma">Gamma</div>
  <div class="dash-text-heading-delta">Delta</div>

  <h1>Body</h1>

  <pre>&lt;div class=&quot;dash-text-body&quot;&gt;body text&lt;/div&gt;</pre>

  <div class="dash-text-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
    in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>

  <h1>Links</h1>

  <pre>
    Here is &lt;span class=&quot;dash-text-link&quot;&gt;a link&lt;/span&gt;.
    And &lt;span class=&quot;dash-text-link&quot;&gt;another&lt;/span&gt;.</pre>

  <div class="dash-text-body">
    Here is <span class="dash-text-link">a link</span>.
    And <span class="dash-text-link">another</span>.
  </div>

  <h1>Footnote</h1>

  <div class="dash-text-footnote">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
  </div>

  <h1>Defaults</h1>

  <p>
    You don't need to use the specific classes above all the time if you just want basic styles. Add
    the class <code>dash-text</code> to any element and basic styles will be applied to its children.
  </p>

  <pre>
    &lt;div class=&quot;dash-text&quot;&gt;
      &lt;h4&gt;A Heading&lt;/h4&gt;
      &lt;p&gt;Some body text. And &lt;a&gt;a link&lt;/a&gt;.&lt;/p&gt;
    &lt;/div&gt;</pre>

  <div class="dash-text">
    <h4>A Heading</h4>
    <p>Some body text. And <a>a link</a>.</p>
  </div>
</dash-wrapper>

{% endblock %}
