@import "../common/units";
@import "../common/icon";

.dash-icon {
  @extend .dash-icon-default;
  display: inline-flex;
  vertical-align: top;
  width: units(3);
  height: units(3);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.dash-icon--loading {
  @extend .dash-icon-loading;
}

.dash-icon--error {
  @extend .dash-icon-error;
}

.dash-icon--feed {
  @extend .dash-icon-feed;
}

.dash-icon--help {
  @extend .dash-icon-help;
}

// Arrows

.dash-icon--arrow-up {
  @extend .dash-icon-arrow-up;
}

.dash-icon--arrow-right {
  @extend .dash-icon-arrow-right;
}

.dash-icon--arrow-down {
  @extend .dash-icon-arrow-down;
}

.dash-icon--arrow-left {
  @extend .dash-icon-arrow-left;
}

// Bars

.dash-icon--bar-horizontal {
  @extend .dash-icon-bar-horizontal;
}

.dash-icon--bar-vertical {
  @extend .dash-icon-bar-vertical;
}
